.main-page-cats{
    margin-top: 25px;
    padding: 25px;
    background-color: #f2f2f2;
    display: flex;
}
.flex-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.centerImg{
    width: 350px;
    margin: 25px 50px 25px 50px;
    text-align: center;
}
img{
    cursor: pointer;
    height: 300px;
}
.wit{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color:white;

}
.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.serchInput{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    height: 20px;
    border: 2px solid #49557b
}
